<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>test</title>
<link rel="stylesheet" href="/css/style-board.css" type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
	<div class="container">
		<div id="board">
			<table id="table_board" class="list">
			<h1>Java Board</h1>
			
			<P><a href="/list"><button>목록보기</button></a></P>
			<P><a href="/created"><button>글쓰기</button></a></P>
		</table>
</div>
</body>
</html>